@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

body {
	background: url(http://images.fineartamerica.com/images-medium-large/a-midsummer-nights-dream-ht-green.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Oswald', serif;
	font-size: 50px;
	color: rgb(150,224,9);
}

li {
	font-family: 'Oswald', serif;
	font-size: 25px;
}

#log {

}

.command {

}


.action {

}
/*action : Indicates actions performed by Shylock*/


.prompt {

}

#prompt {
	font-family: 'Oswald', serif;
	font-size: 15px;
}

#submit {
	font-family: 'Oswald', serif;
	font-size: 15px;
}

.quote {

}
/*quote : For things ShylockBot says*/

